@import url('./base.css');

.player {
  color: black;
  background: #c3c3c3;
  
  border: 2px solid white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.player,
.player *,
.player *::before,
.player *::after {
  font-family: MS UI Gothic, MS Gothic, monospace;
}

.player .lqd-metadata {
  background: white;
  border: 2px solid black;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.player .lqd-seek {
  background: white;

  border: 2px solid black;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.player .lqd-seek-inner {
  background: #0827f5;
}

.player .lqd-visualizer {
  border: 2px solid black;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.player .lqd-volume {
  background: linear-gradient(to top, lime, yellow, orange, red);

  border: 2px solid black;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.player .lqd-volume-inner {
  background: #c3c3c3;

  border: 1px solid white;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.player button {
  background: #c3c3c3;

  border: 2px solid white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  color: black;
}

.player .lqd-songs {
  background: #c3c3c3a2;

  border: 2px solid black;
  border-bottom: 2px solid white;
  border-right: 2px solid white;

  scrollbar-width: thin;
}

.player .lqd-songs div {
  border: 2px solid white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;

  background: #c3c3c3;
}