.player {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: black;
  color: white;
  padding: 5px;

  width: 300px;
  height: 146.6px;

  user-select: none;
}

.player,
.player *,
.player *::before,
.player *::after {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.player .lqd-metadata {
  border-radius: 2.5px;
  padding: 2.5px;
  overflow: hidden;
  height: 25px;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
}

.player .lqd-time {
  height: 21.6px;
  line-height: 21.6px;
}

.player .lqd-metadata.overflow div {
  --gap: 5px;
  display: flex;
  overflow-x: hidden;
  user-select: none;

  gap: var(--gap);
}

.player .lqd-metadata.overflow span {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  animation: scroll 5s linear infinite;
  gap: var(--gap);
}

.player .lqd-metadata.overflow span::after {
  content: ' * ';
  white-space: pre;
}

.player .lqd-metadata.overflow div:hover span {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.player .lqd-seek {
  width: 100%;
  height: 10px;
}

.player .lqd-seek-inner {
  width: 0;
  height: 100%;

  background: white;
}

.player .lqd-visualizer {
  background: black;
}

.player .lqd-volume {
  width: 10px;
  height: 100%;
  background: white;

  position: relative;
}

.player .lqd-volume-inner {
  left: -2px;
  width: calc(100% + 4px);
  height: 5px;

  background: white;

  position: absolute;
}

.player button {
  padding: 2.5px 5px;
  cusor: pointer;
}

.player .lqd-songs {
  position: absolute!important;
  display: block;
  opacity: 0;
  top: 0;
  left: 15px;
  width: calc(100% - 15px);
  height: 64px!important;
  overflow: scroll;
  padding: 2.5px;
  height: 25px;
  white-space: nowrap;
  display: flex;
  gap: 5px;
  flex-direction: column;
  overflow-x: hidden;
  z-index: 1;
  pointer-events: none;

  scrollbar-width: none;
}

.player .lqd-songs.active {
  opacity: 1;
  pointer-events: auto;
}

.player .lqd-songs div {
  padding: 5px;
  display: flex;
}